@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap');

/* /* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: #CDC9E3; 
  color: #574A73; 
} 

* {
  transition: all 0.4s ease-in-out;
}


body.no-scroll {
  overflow: hidden;
}


.page-container {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  background-color: #cdc9e3; 
  z-index: 1; 
} */



.gallery-container {
  position: absolute;
  top: 32.5vw;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 26vw;
  background-color: transparent; 
  flex-direction: column;
}


.logo {
  position: absolute;
  width: 20vw;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  color: #F3EDE3;
  font-weight: bold;
  background: linear-gradient(135deg, #574A73, #363537);
  border-radius: 50%;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;
}

.logo:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}


.gallery {
  position: relative;
  width: 20vw;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.gallery-item {
  position: absolute;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  overflow: hidden;
  transform-origin: 50% 50%;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  background-color: #B69354;
  transform-origin: center center;
}

.gallery-item.highlight {
  transform: scale(1.5);
  box-shadow: 0 0 30px 10px rgba(183, 147, 84, 0.8);
  z-index: 5;
}

.gallery-item:hover {
  transform: scale(1.5);
  width: 21vw;
  height: 21vw;
  box-shadow: 0 0 20px 10px rgba(54, 53, 55, 0.5); 
  z-index: 9;
}

.image-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  filter: brightness(1); 
}

.gallery-item img:hover {
  filter: brightness(1.1); 
}
@media (min-width: 1250px) {
  .gallery-container {
    top: 73%;
  }

  .logo {
    width: 20vw;
    height: 20vw;
    font-size: 2.0vw;
  }

  .gallery {
    width: 25vw;
    height: 25vw;
  }

  .gallery-item {
    width: 20vw;
    height: 20vw;
  }
}

@media (max-height: 1030px) {
  .gallery-container {
    top: 71.5%;
  }

  .logo {
    width: 20vw;
    height: 20vw;
    font-size: 2.0vw;
  }

  .gallery {
    width: 25vw;
    height: 25vw;
  }

  .gallery-item {
    width: 20vw;
    height: 20vw;
  }
}

@media (max-width: 1250px) {
  .gallery-container {
    top: 71.5%;
  }

  .logo {
    width: 20vw;
    height: 20vw;
    font-size: 2.0vw;
  }

  .gallery {
    width: 25vw;
    height: 25vw;
  }

  .gallery-item {
    width: 20vw;
    height: 20vw;
  }
}

@media (max-width: 1024px) {
  .gallery-container {
    top: 78%;
  }

  .logo {
    width: 20vw;
    height: 20vw;
    font-size: 2.0vw;
  }

  .gallery {
    width: 25vw;
    height: 25vw;
  }

  .gallery-item {
    width: 20vw;
    height: 20vw;
  }
}

@media (max-width: 768px) {
  .gallery-container {
    top: 97%;
    transform: translate(-50%, -50%);
    height: auto;
    flex-direction: column;
  }

  .logo {
    width: 24vw;
    height: 24vw;
    font-size: 2.5vw;
  }

  .gallery {
    width: 30vw;
    height: 30vw;
  }

  .gallery-item {
    width: 22vw;
    height: 22vw;
  }
}

@media (max-width: 430px) {
  .gallery-container {
    top: 50%;
    height: auto;
    flex-direction: column;
  }

  .logo {
    width: 25vw;
    height: 25vw;
    font-size: 2vw;
  }

  .gallery {
    width: 45vw;
    height: 45vw;
  }

  .gallery-item {
    width: 27vw;
    height: 27vw;
  }
}