/* General Styles */
.post {
    max-width: 700px;
    margin: 20px auto;
    background: #cdc9e3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.post:hover {
    transform: scale(1.02);
}

.post-heading {
    padding: 20px;
    border-bottom: 1px solid #cdc9e3;
    cursor: pointer;
}

.post-heading h2 {
    font-size: 1.8rem;
    margin: 0 0 10px;
    color: #574a73;
    transition: color 0.3s ease;
}

.post-author {
    font-size: 0.9rem;
    color: #574a73;
}

.post-date {
    font-size: 0.8rem;
    color: #363537;
    margin-bottom: 10px;
}

.post-description {
    font-size: 1rem;
    color: #574a73;
    margin-top: 15px;
}

/* Expanded Post Details */
.post-details {
    padding: 20px;
}

.comments-section {
    margin-top: 20px;
}

.comments-header {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #b69354;
    border-bottom: 2px solid #b69354;
    display: inline-block;
    padding-bottom: 5px;
}

.comment {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 15px;
    background: #f3ede3;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.95rem;
    color: #574a73;
    transition: background-color 0.3s ease;
}

.comment:hover {
    background-color: #b69354;
    color: #fff;
}

/* New Comment Form */
.new-comment-form {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.comment-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #cdc9e3;
    border-radius: 15px;
    font-size: 0.95rem;
    transition: border-color 0.3s ease;
}

.comment-input:focus {
    outline: none;
    border-color: #b69354;
    box-shadow: 0 0 5px rgba(182, 147, 84, 0.5);
}

.submit-comment-button {
    background-color: #b69354;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.3s ease;
}

.submit-comment-button:hover {
    background-color: #574a73;
}

/* Media Queries */
@media (max-width: 768px) {
    .post {
        margin: 10px;
    }

    .post-heading h2 {
        font-size: 1.5rem;
    }

    .comments-header {
        font-size: 1rem;
    }

    .comment-input {
        font-size: 0.85rem;
    }

    .submit-comment-button {
        font-size: 0.85rem;
    }
}
