.footer {
  margin-top: 100px;
  background-color: #363537;
  /* Darkest background color */
  color: #F3EDE3;
  /* Lighter text color */
  text-align: center;
  padding: 30px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  box-sizing: border-box;
  /* Includes padding in the total width */
  overflow-x: hidden;
  /* Prevent horizontal overflow */
}

.footer-icons {
  margin-bottom: 20px;
}

.icon-link {
  margin: 0 10px;
  color: #F3EDE3;
  /* Lighter text color for links */
  font-size: 20px;
  /* Slightly larger for prominence */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

.icon-link:hover {
  color: #B69354;
  /* Gold for hover effect */
  transform: scale(1.1);
  /* Subtle hover animation */
}

.footer-links {
  margin-top: 25px;
}

.footer-links a {
  margin: 0 12px;
  color: #F3EDE3;
  /* Lighter text color for links */
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #B69354;
  /* Gold for hover effect */
}

.footer::before {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: #B69354;
  /* Gold divider for elegance */
  margin: 0 auto 15px auto;
}